
.about {
  border: 3px #002f5d solid;
  border-radius: 20px;
  margin: 50px auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 3.5em;
}
.coded {
    font-size: 2em;
    margin:10px;
}
.coded span {
  color: #006baa;
}
.techno {
  font-size: 1.7em;
  margin:10px;
}
.techno span {
    color: #006baa;
  }
.img {
    margin:30px;
}
.button {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 7px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #006baa;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #006baa;
  border-radius: 10px;
  /* box-shadow: inset 0 0 0 0 #006baa; */
}
.button:hover {
  color: white;
  /* box-shadow: inset 0 -100px 0 0 #006caa44; */
}
.button:active {
  /* transform: scale(0.9); */
}
