.about {
  border: 3px #002f5d solid;
  border-radius: 20px;
  margin: 20px auto;
  width: 50%;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 3.5em;
  font-family: "Roboto Slab", serif;
}
.subtitle {
  font-size: 1.5em;
  border-bottom: 1px solid #006baa;
  margin-bottom: 1.2em;
  padding-bottom: 1em;
}
.subtitle a {
  color: #006baa;
  margin-right: 0.1em;
}
.coded {
  font-size: 2em;
  margin: 10px;
}
.coded span {
  color: #006baa;
}
.techno {
  font-size: 1.7em;
  margin: 10px;
}
.techno span {
  color: #006baa;
}
.img {
  margin-top: 30px;
}
.cartoons {
  font-size: 0.9em;
}
.cartoons a {
  color: #006baa;
  margin-left: 0.5em;
}
.button {
  position: relative;
  display: inline-block;
  margin: 5px;
  margin-top: 25px;
  padding: 18px 25px;
  text-align: center;
  font-size: 1.7em;
  letter-spacing: 1px;
  text-decoration: none;
  color: #006baa;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #006baa;
  border-radius: 10px;
}
.button:hover {
  color: white;
}
