#gridContainer {
  /* background-color: tomato; */
  margin-top: 50px;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: auto, auto, auto, auto, 30px;
  column-gap: 10px;
  row-gap: 15px;
}

#formRow {
  width: 50%;
  font-size: 1.1em;
  margin: 8px auto;
  height: auto;
  /* display: grid; */
}
.name {
  display: flex;
  /* text-align: right; */
  justify-content: end;
  align-items: center;
}
.name img {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.sliderVal {
  font-size: 0.9em;
}

.country {
  /* width: 5em; */
  /* margin: 2px; */
  text-align: center;
}

span.danger {
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

input.danger {
  border: 2px solid red;
}

#selectCountries {
  display: inline-flex;
  height: 73px;
}
.country {
  margin: 6px;
}
.afterSubmit {
  color: #ffffff;
  margin: auto 0;
  text-align: center;
  padding: 5px;
  border-radius: 10px;;
  font-size: 1.5em;
  height: 1.5em;
}

/* BUTTON */
.button {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 7px 15px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #006baa;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
  border: 2px solid #006baa;
}
#buttonHover:hover {
  color: white;
}
.button:active {
  transform: scale(0.9);
}
.button:disabled {
  cursor:auto;
  background-color: #006caa9a;
}
