#error {
    border: 3px #002f5d solid;
    border-radius: 20px;
    margin: 50px auto;
    width: 50%;
    padding: 20px;
    text-align: center;
  }
  
  #textUp {
    font-size: 4em;
    font-family: 'Roboto Slab', serif;
  }
  #textDown {
    font-size: 3.5em;
    font-family: 'Roboto Slab', serif;
    color: #006baa;
}
#textDown span {
      color: white;
  }

  #img {
      margin:30px;
  }